input.input__projet{

    display: none;
}

.container__projet {

    width: 100%;
    height: 100%;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cards__projet {

    position: relative;
    height: 550px;
    width: 100%;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards__projet label.label__projet {

    position: absolute;
    width: 470px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.55s ease;
}

.cards__projet .card__projet {

    position: relative;
    height: 100%;
    /* background-color: #323444; */
    background-color: var(--input-color);
    border-radius: 10px;
    padding: 1px 35px;
}

.card__projet .image__projet {

    display: flex;
    justify-content: space-between;
}

.card__projet .image__projet img.img__projet {

    border-radius: 5px;
    box-shadow: 1px 1px 25px rgb(0 0 0 / 50%);
    margin-top: 23px;
    width: 86%;
    height: 220px;
    object-fit: cover;
}

.card__projet .image__projet .dots__projet {
    display: grid;
    align-items: center;    
}

.dots__projet i {
    font-size: 30px;
    margin-bottom: 10px;
}


.dots__projet i:nth-child(1) {

    color: #F16529;
}

.dots__projet i:nth-child(2) {

    color: #5B85F9;
}

.dots__projet i:nth-child(3) {

    color: #F7DF1E;
}

.card__projet .infos__projet {

    display: block;
    padding-top: 40px;
}

.infos__projet span {

    display: block;
}

.infos__projet .name__projet {

    font-size: 30px;
    color: var(--first-color);
    margin-bottom: 20px;
    /* padding-left: 25%; */
    transition: all .6s ease;
}

.infos__projet .lorem__projet {

    font-size: 15.5px;
    color: var(--small-font-size);

}

.card__projet .btn-contact__projet {

    width: 100%;
    height: 60px;
    margin: 35px auto;
    border-radius: 5px;
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: var(--font-medium);
    transition: all .7s ease;
}

.btn-contact__projet:hover {
    background-color: var(--first-color-alt);
    transition: .5s;
}

.card__projet .socials__projet {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}


#s1:checked~.cards__projet #slide4__projet,
#s2:checked~.cards__projet #slide5__projet,
#s3:checked~.cards__projet #slide1__projet,
#s4:checked~.cards__projet #slide2__projet,
#s5:checked~.cards__projet #slide3__projet {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards__projet #slide5__projet,
#s2:checked~.cards__projet #slide1__projet,
#s3:checked~.cards__projet #slide2__projet,
#s4:checked~.cards__projet #slide3__projet,
#s5:checked~.cards__projet #slide4__projet {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards__projet #slide1__projet,
#s2:checked~.cards__projet #slide2__projet,
#s3:checked~.cards__projet #slide3__projet,
#s4:checked~.cards__projet #slide4__projet,
#s5:checked~.cards__projet #slide5__projet {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    /* --current-color1: #fad00c; */
    --current-color1 : var(--first-color);
    --current-color2: #ECEAED;
}

#s1:checked~.cards__projet #slide2__projet,
#s2:checked~.cards__projet #slide3__projet,
#s3:checked~.cards__projet #slide4__projet,
#s4:checked~.cards__projet #slide5__projet,
#s5:checked~.cards__projet #slide1__projet {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards__projet #slide3__projet,
#s2:checked~.cards__projet #slide4__projet,
#s3:checked~.cards__projet #slide5__projet,
#s4:checked~.cards__projet #slide1__projet,
#s5:checked~.cards__projet #slide2__projet {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}


/* Page projet  */

